<template>

    <div class="app">
        <h1 ref="headline">app.vue</h1>
        <p> Vue 2 Template ( with preproccessing ) </p>

        //@if NODE_ENV='develop'
        <p class="flag">develop</p>
        //@endif
        //@if NODE_ENV='production'
        <p class="flag">production</p>
        //@endif
    </div>


</template>

<script>
    export default {
        name: "vue-example",
        data: function () {
            return {
                type: ' <.vue>'
            }
        },
        created() {
            console.log(this.type +' created');
        },
        mounted() {
            console.log(this.type +' mounted');
            console.log(this.$refs);
        },
    }
</script>

<style lang="scss">

    $bg-color: #00b0ff;
    .app {
        background-color: $bg-color;
        padding: 20px;
    }

    .flag {

        background-color: #3b507b;
        display: inline-block;
        padding: 8px;
    }


</style>