
<!--<script src="{#HOST_URL#}js/polyfill.js"></script>-->
<script src="{#HOST_URL#}js/vendor.js"></script>
<script src="{#HOST_URL#}js/app.js"></script>


<!--EXAMPLE VERSION-->
<!--<script src="{#HOST_URL#}js/app.js?v={#VERSION#}"></script>-->

<!--EXAMPLE TIMESTAMP-->
<!--<script src="{#HOST_URL#}js/app.js?v={#TIMESTAMP#}"></script>-->

