<div class="ng-comp">
	
<comp></comp>
	<div class="content" ng-if="success"">
			<h3>id  {{ id }}</h3>
			<h1>{{ name }}</h1>
			<p>{{ description }}</p>
		
		<div class="price">
				price : {{price}}
		</div>

		<div class="btn" ng-click="onClick()">Click</div>
		
		
	</div>
	<error ng-if="!success""></error>

</div>
