<div class="ng-element ng-ctrl" ng-controller="AppController as ac">
	<comp></comp>

	<!-- @if NODE_ENV='develop' -->
	<p>Angualar.js in dev mode</p>
	<!-- @endIf -->

	<nav-controller></nav-controller>
	<ng-view></ng-view>
</div>
