
@import 'components/exampleComp/exampleComp';
@import 'components/navigation/nav';



/* @if NODE_ENV='develop'*/


.ng-comp, [ng-controller]{

    border: solid 1px;
    padding:1rem;

    .comp{
    color:#000;
    padding-bottom:6px;
    }
}

/* @endif*/