.headline {

  color: #b16dae;

}

.p {
  background-color: white;
  color: black;
  padding: 20px;

}

.btn {
  background-color: #b16dae;
  display: inline-block;
  padding: 5px 10px;

  &:global.active{
    background-color: #b13757;
  }
}
:root body{
  //background-color: #41787b;
}