@import '../../../../../codebaby/core/process/assets/layout';

html,
body {
	background-color: #9b9e8e;
	font-size: 10px;
}

#app {
	padding: 2rem;
	font-size: 1.6rem;
	font-family: sans-serif;
}



.btn {
	background-color: #000;
	padding: 1rem 2rem;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

@import 'core/examples/angular-js/app';