<!DOCTYPE html>
<html class="no-js" lang="" dir="ltr">
	<%- include('includes/document/header.html') %>
	<body>
		<div class="header">
			<h1>project : <span>{#PROJ#}</span></h1>
			<p>template : typescript</p>
			<h2><%- headline %></h2>
		</div>

		<!-- USAGE PREPROCESS -->
		<!-- @if NODE_ENV='develop' -->
		<%# include('includes/test/jasmine.html') %>
		<!-- @endif -->
		<!-- @if NODE_ENV='test' -->
		<%# include('includes/test/jasmine.html') %>
		<!-- @endif -->

		<%- include('includes/document/footer.html') %>
	</body>
</html>
