<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%- title %></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{#HOST_URL#}css/style.css">
    <!-- CSS MODULES -->
    <!--<link rel="stylesheet" href="css/css-modules.css">-->
    <script src="{#HOST_URL#}js/header.js"></script>


    <!-- @if NODE_ENV='production'  -->
    <script type="text/javascript">

        // MAYBE ANALYTICS
    </script>
    <!-- @endif -->

</head>
