<div ng-controller="AppController as ac">
	<h1>App</h1>
	<a href="https://docs.angularjs.org/tutorial/step_01" target="_blank"
		>tutorial</a
	>
	<p>{{ name }}</p>
	<p>{{ name }}</p>

	<p>1 + 2 = {{ 1 + 2 }}</p>
	<nav-controller></nav-controller>
	<customer></customer>
</div>
