//@import '../../../../codebaby/core/process/assets/layout';
body {

  background-color: #666666;
  color: #fff;
  font-family: sans-serif;
  size: 10px;

}

$box-margin: 30px;
.header {
  margin: $box-margin;
  padding: $box-margin;
  $margin-b:10px;
  p {
    color: #f0cec8;
    font-weight: 500;
    font-size: 0.9em;
    margin: 0 0  $margin-b;
  }
  h1 {
    color: #ff6ec7;
    font-size: 1.5em;
    font-weight: 500;
    display: inline-block;
    margin: 0 0  $margin-b;
    //line-height: 1.3;
    span {
      color: #fff;
    }
  }
  h2 {
    margin: 0 0  $margin-b*2;
    color: #b16dae;
    font-size: 1em;
    //font-weight: 500;
    font-weight: 400;
  }
  background-color: #333;
}

.container {
  margin: $box-margin;
}

a {
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  color: #ffffff;
  border: solid 1px #929292;
  display: inline-block !important;

  &:hover{
    background-color: #fff;
    color: #000;
  }
}

.nav {

  a {
    text-decoration: none;
    padding: 10px;
    margin: 4px;
    color: #ffffff;
    display: inline-block !important;
  }
  .active {
    border: solid 2px;

  }
}

.link-external {

  background-color: #41787b !important;
}

.link-test {

  background-color: #7b404c !important;
}
