<!DOCTYPE html>
<html class="no-js" lang="" dir="ltr">
	<%- include('includes/document/header.html') %>
	<body>
		<div class="header">
			<h1>project : <span>{#PROJ#}</span></h1>
			<p>template : angular-js</p>
			<h2><%- headline %></h2>
		</div>

		<div id="app" ng-app="app"><app-controller></app-controller></div>

		<!-- USAGE PREPROCESS -->
		<!-- @if NODE_ENV='develop' -->
		<%# include('includes/test/jasmine.html') %>
		<!-- @endif -->
		<!-- @if NODE_ENV='test' -->
		<!-- @endif -->
		<%# include('includes/test/jasmine.html') %> <%-
		include('includes/document/footer.html') %>
	</body>
</html>
